<form class="status-update">
  <div class="row">
    <div class="small-12 columns">
      <label>Update your status
        <textarea placeholder="I'm having a great day!"></textarea>
      </label>
    </div>
  </div>
</form>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post <%= 'post-liked ' if post[:liked] %>media">
      <div class="media-img">
        <img src="<%= post[:user][:avatar_url] %>">
      </div>

      <div class="media-body">
        <h4><%= post[:user][:name] %></h4>
        <p><%= post[:content] %></p>

        <ul class="inline-list post-actions">
          <li><a href="#">Like</a></li>
          <li><a href="#">Comment</a></li>
          <li><a href="#">Share</a></li>
        </ul>

        <div class="comments">
          <% post[:comments].each do |comment| %>
            <div class="panel">
              <div class="media">
                <div class="media-img">
                  <img src="<%= comment[:user][:avatar_url] %>">
                </div>
                <div class="media-body">
                  <h6><%= comment[:user][:name] %></h6>
                  <p><%= comment[:content] %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
