<% if user_signed_in? %>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
  <% if current_user.admin? %>
    <li><%= link_to "View All Users", admin_users_path %></li>
  <% end %>
  <li><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to 'Sign In', new_user_session_path %></li>
  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
<% end %>
