<h1><%= @post.title %></h1>

<h3><%= @post.description %></h3>

<p><%= link_to "Home", root_path %></p>

<hr>

<h3>Share your comments:</h3>

<%= form_for [@post, @post.comments.build] do |f| %>

  <%= f.label :description %>
  <%= f.text_field :description %><br />

  <%= f.submit "Submit" %>
<% end %>

<% if @comments %>
  <ul>
    <% @comments.each do |comment| %>
      <li><%= comment.id %>: <%= comment.description %></li>
    <% end %>
  </ul>
<% end %>
