<h1><%= @actor_name %></h1>

<ul>

<% @movies.each do |movie| %>
  <li><a href="/movies/<%= movie["id"] %>"><%= movie["title"] %></a>, <%= movie["year"] %>, <%= movie["genre"] %> (As <%= movie["role"] %>) </li>
<% end %>
</ul>
