<h1>Add Station</h1>

<%= form_for @station do |f| %>
  <%= f.label :name, "Station Name" %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :line %>
  <%= f.select :line, ['Blue', 'Orange', 'Silver', 'Green', 'Yellow', 'Red'] %>
  <br />
  <%= f.label :state %>
  <%= f.select :state, ['DC', 'Maryland', 'Virginia'] %>
  <br />
  <%= f.label :description %>
  <br />
  <%= f.text_area :description %>
  <br />
  <%= f.label :parking, "Parking?" %>
  <%= f.check_box :parking %>
  <br />
  <%= f.submit 'Add Station' %>

<% end %>
